<header>
    <div class="logo-block">
        <a routerLink="/" class="logo">Training Project</a>
    </div>

    <nav class="menu-block">
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li>
                <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
            </li>
            <li>
                <a routerLink="/shopping-list" routerLinkActive="active">Shop List</a>
            </li>
        </ul>
    </nav>

    <div class="user-block">
        <div class="action-item" appDropDown>
            <p text1>Manage</p>
            <div class="arrow-down"></div>
        </div>
        <div class="action-menu">
            <a href="#">User</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>
    </div>

</header>