<header>
    <div class="logo-block">
        <a href="" class="logo">Training Project</a>
    </div>

    <nav class="menu-block">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#" (click)="onSelect('recipes')">Recipes</a>
            </li>
            <li>
                <a href="#" (click)="onSelect('shopping-list')">Shop List</a>
            </li>
        </ul>
    </nav>

    <div class="user-block">
        <div class="action-item" appDropDown>
            <p text1>Manage</p>
            <div class="arrow-down"></div>
        </div>
        <div class="action-menu">
            <a href="#">User</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>
    </div>

</header>