header {
    height: 80px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: $bc1;
    .logo-block {
        a {
            @include text2;
        }
    }
    .menu-block {
        ul {
            display: grid;
            /* autoprefixer: off */
            grid-auto-flow: column;
            justify-content: center;
            li {
                padding: 20px;
                a {
                    @include text1;
                }
            }
        }
    }
    .user-block {
        @include text1;
        position: relative;
        .action-item {
            display: grid;
            /* autoprefixer: off */
            grid-auto-flow: column;
            align-items: center;
            cursor: pointer;
            p {
                padding: 0 5px 0 0;
            }
        }
        .action-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            margin: 10px 0 0 0;
            min-width: 150px;
            border-radius: 5px;
            background-color: white;
            @include box-shadow1;
            a {
                padding: 10px;
                &:hover {
                    background-color: $bc1;
                }
                &:first-child {
                    border-radius: 5px 5px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 5px 5px;
                }
            }
            &.open {
                display: block;
            }
        }
    }
}
