<div class="form-root">
   <form class="form-wrapper" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
      <div class="form-container title"><h3>Add Ingredients</h3></div>
      <div class="form-container">
         <div class="form-block">
            <div class="form-item">
               <label for="name">Name</label>
               <!-- <input type="text" id="name" #nameInput> -->
               <input type="text" name="name" [(ngModel)]="name" required />
            </div>
            <div class="form-item">
               <label for="amount">Amount</label>
               <!-- <input type="number" id="amount" #amountInput> -->
               <input
                  type="number"
                  name="amount"
                  [(ngModel)]="amount"
                  required
                  pattern="^[1-9]+[0-9]*$"
               />
            </div>
         </div>
      </div>
      <div class="form-container">
         <div class="form-block">
            <!--
               <button class="btn-add" type="submit" (click)="onAddItem()">Add</button>
            -->
            <div class="form-item">
               <button class="btn-add" type="submit" [disabled]="!myForm.valid">
                  {{ editMode ? "Update" : "Add" }}
               </button>
            </div>
            <div class="form-item">
               <button class="btn-clear" type="button" (click)="onClear()">
                  Clear
               </button>
            </div>
            <div class="form-item">
               <button class="btn-delete" type="button" (click)="onDelete()">
                  Delete
               </button>
            </div>
         </div>
      </div>
   </form>
</div>
