*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
}
i {
  display: flex;
}

p {
  margin: 0;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

ul,
ol {
  list-style: none;
}

button {
   outline: none;
   border: none;
}
